# Sphinx
docs/_build/
_build/
.doctrees/
*.doctree

# Python
__pycache__/
*.py[cod]
.venv/

# Tool caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# OS/editor
.DS_Store
.idea/

# Sphinx build output
docs/build/

# LaTeX artifacts
*.aux
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.idx
*.log
*.out
*.toc
*.synctex.gz